@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #333;
}

.gradient-bg {
  background: radial-gradient(circle, #333, #111);
}

/*** FONT FACES ***/

/* Portico */
@font-face {
  font-family: "Neutro Outline";
  src: url("/src/assets/fonts/neutro/Neutro-Outline.otf") format("opentype");
}
@font-face {
  font-family: "Neutro";
  src: url("/src/assets/fonts/neutro/Neutro-ExtraBold.otf") format("opentype");
}

/* GT America */
@font-face {
  font-family: "GT America";
  src: url("/src/assets/fonts/gt_america/GT-America-Condensed-Thin-Trial.otf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "GT America";
  src: url("/src/assets/fonts/gt_america/GT-America-Condensed-Light-Trial.otf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GT America";
  src: url("/src/assets/fonts/gt_america/GT-America-Condensed-Regular-Trial.otf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "GT America";
  src: url("/src/assets/fonts/gt_america/GT-America-Condensed-Medium-Trial.otf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GT America";
  src: url("/src/assets/fonts/gt_america/GT-America-Condensed-Bold-Trial.otf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "GT America";
  src: url("/src/assets/fonts/gt_america/GT-America-Condensed-Black-Trial.otf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}
